// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import 'primereact/resources/themes/saga-blue/theme'; // Choose your theme
@import 'primereact/resources/primereact.min';
@import 'primeicons/primeicons';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './_variables';
// :root {
//   --background: #ffffff;
//   --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Arial, Helvetica, sans-serif;
// }

.m-0 {
  margin: 0px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.Black-text {
  color: $color-black !important;
}

.offer-text-clr {
  color: $primary-color !important;
}

.app-white {
  // padding: $padding-24 $default-padding;
  background: $color-white;
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  min-height: 100vh;
}

.app-blue {
  // padding: $padding-24 $default-padding;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  min-height: 100vh;
}

.main-content {
  flex: 1;
  /* Allow this to grow and take available space */
  background: $color-white2;
}

.bg-default {
  &.topbar-container {
    background: $primary-color;
    border: none;
  }
}

.header-start {
  display: flex;
  // gap: 20px;
  // -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  // -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  // box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  // padding: $padding-8;
  background: $color-white2;
  border-radius: 50px;

  p {
    color: $color-white;
    font-size: 16px;
    padding: $padding-12 $padding-24;
    cursor: pointer;
    margin: 0;

    &.active {
      color: $primary-color;
      background-color: $color-white;
      border-radius: 50px;
    }
  }
}

.joinlist-btn {
  background: $color-white;
  color: $primary-color;
  padding: $padding-12 $padding-24;
  border-radius: 25px;

}

.bg-white {

  background: $color-white2 !important;

  .App {
    padding: $padding-24 $default-padding;
    background: $color-white;
  }

  &.topbar-container {
    background: $color-white;
    border: none;
    padding: $padding-16 $default-padding;
  }
}

.header-start {
  display: flex;
  // gap: 20px;
  // -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  //   -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  //   box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  // background: $color-white;
  // padding: $padding-8;
  // padding: $padding-8;
  border-radius: 50px;

  p {
    color: $color-black;
    font-size: 16px;
    padding: $padding-12 $padding-24;
    cursor: pointer;
    margin: 0;

    &.active {
      color: $color-white;
      background-color: $primary-color;
      border-radius: 50px;
    }
  }
}

.bg-white {

  background: $color-white2 !important;

  .App {
    padding: $padding-24 $default-padding;
    background: $color-white;
  }

  &.topbar-container {
    background: $color-white;
    border: none;
    padding: $padding-16 $default-padding;
  }

  .header-start {
    display: flex;
    // gap: 20px;
    // -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    //   -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    //   box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    // background: $color-white;
    // padding: $padding-8;
    // padding: $padding-8;
    border-radius: 50px;

    p {
      color: $color-black;
      font-size: 16px;
      padding: $padding-12 $padding-24;
      cursor: pointer;
      margin: 0;

      &.active {
        color: $color-white;
        background-color: $primary-color;
        border-radius: 50px;
      }
    }
  }

  .joinlist-btn {
    background: $primary-color;
    color: $color-white;
    padding: $padding-12 $padding-24;
    border-radius: 25px;
  }

}

.cursor-pointer {
  cursor: pointer;
}

.main-home-container {
  background: $bg-blue;

  .message-section {
    display: flex;
    height: 650px;
    padding: 35px;
    padding-bottom: 0;
    align-items: end;

    .text-cont {
      padding: $padding-20;
      color: $color-white;

      h3 {
        color: $color-white;
        font-size: 40px;
      }

      p {
        color: $color-white;
        font-size: 18px;
        line-height: 25px;

        &.small {
          font-size: 14px;
          line-height: 0;
        }
      }

      h5 {
        font-size: 20px;
        margin: $margin-12 0;
      }
    }

    .img-cont {
      img {
        margin-bottom: -3px;
      }
    }
  }
}

.message-section {
  display: flex;
  height: 650px;
  padding: 35px;
  padding-bottom: 0;
  align-items: end;

  .text-cont {
    padding: $padding-20;
    color: $color-white;

    h3 {
      color: $color-white;
      font-size: 40px;
    }

    p {
      color: $color-white;
      font-size: 18px;
      line-height: 25px;

      &.small {
        font-size: 14px;
        line-height: 0;
      }
    }

    h5 {
      font-size: 20px;
      margin: $margin-12 0;
    }
  }

  .img-cont {
    img {
      margin-bottom: -3px;
    }
  }
}

.main-home-container {
  background: $bg-blue;

  .courses-section {
    background: $color-white2;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $default-padding;

      h1 {
        span {
          color: $bg-blue;
        }
      }
    }

    .card-section {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .career-section {
      margin: $default-padding;
      margin-bottom: 0;
      background: $bg-blue;
      border-radius: 25px;
      padding: $default-padding;
      color: $color-white2;
      position: relative;
      height: 570px;

      .career-img {
        position: absolute;
        top: 100px;
        left: 230px;
      }

      .career-options {
        .blocks {
          width: 225px;
          margin: $padding-16;
          padding: $padding-16;
          background: #1b95d6;
          border-radius: 10px;
          align-content: center;

          .row {
            justify-content: center;
            align-items: center;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.card-container {
  position: relative;
  text-align: center;
  height: 446px;
  width: 310px;
  margin: $margin-20 0;
  background:
    linear-gradient(to top, black 10%, transparent 70%),
    url('../../public/assets/images/card-img.png');
  background-size: cover;
  background-position: center;
  border-radius: 25px;

  .launch-text {
    background: #E46C6C;
    width: 100%;
    display: block;
    padding: 6px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .details {
    padding: $padding-12 $padding-42;
    position: absolute;
    bottom: 0;
    color: $color-white;

    h5 {
      color: #fcfcfc;
    }

    p {
      font-size: 14px;
      color: #fcfcfc;
      border: 1px solid #fcfcfc;
      border-radius: 25px;
      padding: $padding-4;
    }
  }
}

.home-container {
  // max-width: 700px;
  padding: $default-padding;
  // margin-top: 150px;
  background: $color-white2;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  h1 {
    max-width: 700px;
    font-size: 90px;
    color: #313131;
    font-weight: 400;
    line-height: 80px;
    font-family: 'Gulzar', sans-serif;
    margin-bottom: 0px;

    span {
      color: $primary-color;
    }
  }

  p {
    margin: 0px;
    margin-bottom: 20px;
  }
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px $padding-20;
  background: #fff;

  p {
    color: #383838;
    font-size: 10px;
  }

  div {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
}

.team-container {
  .banner {
    text-align: center;
    height: 500px;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    button {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 10px;
    }

    p {
      font-size: 90px;
      color: $color-white;
      font-family: $gulzar;
      line-height: 80px;
    }
  }

  .company-banner {
    text-align: center;
    height: 500px;
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    button {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 10px;
    }

    p {
      font-size: 48px;
      color: $color-white;
      font-family: $gulzar;
      line-height: 60px;
    }
  }

  .team-block {
    background: #fff;

    .p-tabview {
      width: 85%;
      margin: auto;
      padding-top: 40px;

      .p-tabview-nav {
        background: #ffffff;
        border-width: 0 0 2px 0;
        border: 1px solid #919293;
        padding: 12px;
        border-radius: 40px;
        justify-content: space-between;

        .p-tabview-nav-link {
          border: none;
          padding: 20px;
        }
      }
    }

    .profiles {
      display: flex;
      gap: 60px;
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #525252;

      h3 {
        margin: 5px;
        border-top: 3px solid #0089D1;
        width: 140px;
        padding-top: 18px;
      }

      h5 {
        margin: 5px;
      }

      p {
        color: #8A8888;
      }
    }
  }

  .about-company {
    background: #fff;

    .first-block {
      display: flex;
      gap: 40px;
      width: 80%;
      margin: auto;
      padding-top: 70px;
      padding-bottom: 70px;

      p {
        line-height: 30px;
        font-weight: 200;
        width: 90%;
      }
    }

    .chips-container {
      display: flex;
      width: 90%;
      gap: 10px;
      margin: auto;
      align-items: center;

      .chips-block {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .p-chip {
          background: none;
          border: 1px solid #414141;
          padding: 0 20px;
          margin: 2px;
        }
      }
    }

    .cards-details {
      display: flex;
      gap: 40px;
      width: 80%;
      margin: auto;
      margin-top: 70px;
      margin-bottom: 70px;

      .p-card {
        max-width: 377px;
        border-radius: 30px;
        box-shadow: none;

        &:first-child {
          background: #FFDBBA;
        }

        &:nth-child(2) {
          background: #BADDFF;
        }

        &:last-child {
          background: #B9FFF5;
        }

        .p-card-content {
          padding-top: 0;
        }

        h5 {
          font-size: 20px;
          text-align: end;
          margin-bottom: 0;
        }
      }
    }
  }

  .learn-details {
    padding: 40px 0;
    text-align: center;

    h1 {
      margin: 0;
      margin-bottom: 36px;
      font-size: 48px;
    }
  }
}

.hr-line {
  width: 70%;
  margin: auto;
}

.waitlist {
  text-align: center;
  margin: 40px;
  margin-bottom: 0;
  padding-bottom: 40px;

  .form-fields {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 20px;

    div {
      flex: 1
    }

    input {
      width: 100%;
      border-radius: 25px;
      padding: 12px;
      // border: 1px solid #838383;
    }

    .p-inputtext::placeholder {
      color: #A9A8A8;
      font-size: 16px;
      opacity: 1;
      text-align: center;
    }

  }

  .inp-grp {
    border: 1px solid #838383;
    border-radius: 35px;
    width: 350px;
    padding: 10px;
    margin: auto;

    input {
      border: none;
    }
  }
}

.team-block {
  .coming-soon {
    text-align: center;
    margin: 30px 0;
  }
}

.abt-us-margin {
  margin: 55px 110px;
}

@media screen and (max-width: 600px) {
  .team-container .team-block .profiles {
    flex-direction: column;
  }
  .main-home-container .message-section {
    flex-direction: column;
    height: auto;
  }
  .page-cards {
    gap: 20px
  }
  .abt-us-margin {
    margin: 0;
  }
  .contact-container .cards-section {
    width: 90% !important;
    .card {
      width: 100% !important;
    }
  }
  .p-menu-list {
    padding: 0;
    li {
      text-align: center;
      a {
        text-decoration: none;
      }
    }
  }
  .bg-white.topbar-container {
    padding: $padding-16 !important;
  }
  .pp-page {
    padding: $padding-16 !important;
    .inside-section {
      margin: $margin-12 !important;
      width: 95% !important;
    }
  }
  .contact-container {
    .vr-line {
      height: 1px !important;
      width: 80% !important;
      margin: $margin-12 0;
    }
  }
  .courses-page .header-section {
    margin: $margin-12 !important;
  }
  .partners-section .partners-card {
    flex-direction: column;
  }
  .img-cont {
    display: none;
  } 
  .footer-imgs {
    flex-direction: column;
    gap: 10px;
  }
  .main-home-container .courses-section .career-section {
    .col {
      p {
        padding: $padding-12;
      }
      h1 {
        padding: $padding-12;
      }
    }
    height: auto;
    padding: 0 !important;
    .career-img {
      position: static;
      width: 100%;
    }
    .align-content-end {
      align-content: start !important;
    }
  }

  .waitlist {
    margin: 0 !important;
  }

  .team-container .banner {
    height: auto;
    margin: 30px 0;

    p {
      padding: 10px;
      font-size: 32px;
      line-height: 40px;
    }
  }

  .team-container .team-block .p-tabview .p-tabview-nav .p-tabview-nav-link {
    padding: 10px !important;
    font-size: 12px !important;
  }

  .team-container .company-banner {
    height: auto;
    margin-top: 30px;
    padding: 10px;

    p {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .team-container .about-company .first-block {
    flex-direction: column-reverse;

    p {
      width: 100%;
    }

    img {
      width: 50%;
      margin: auto;
    }
  }

  .team-container .about-company .chips-container {
    flex-direction: column;
  }

  .team-container .about-company .cards-details {
    flex-direction: column;
  }

  .team-container .about-company .chips-container .chips-block {
    justify-content: center;

    .p-chip {
      padding: 0 10px;
    }
  }

  .footer-container {
    flex-direction: column;
  }
}


.partners-section {
  background: $color-white2;
  padding: $default-padding;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $default-padding;

    h1 {
      span {
        color: $bg-blue;
      }
    }
  }

  .partner-imgs {
    display: flex;
    gap: 30px;
    // white-space: nowrap;
    // overflow: hidden;
    justify-content: end;
    animation: scroll-left 35s linear infinite;

    div {
      width: 198px;
      background: $color-white;
      border-radius: 15px;
      align-content: center;
      text-align: center;
    }
  }
}

.header-main {
  background: $bg-blue;
  color: $color-white;
  text-align: center;
  padding: $default-padding 0;
  padding-top: 80px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  h1 {
    font-size: 80px;
    max-width: 720px;
    margin: auto;
  }

  p {
    font-size: 16px;
  }
}

.abt-section {
  max-width: 1156px;
}

.aboutus-container {
  background: $color-white2;
}

.header-main-white {
  background: $color-white2;
  // color: $color-black;
  text-align: center;
  padding: $default-padding 0;
  padding-top: 80px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  h1 {
    font-size: 80px;
    // max-width: 720px;
    margin: auto;
  }

  p {
    font-size: 20px;
    margin: $padding-16;
  }
}

.courses-page {
  .header-section {
    margin: $default-padding;
    text-align: center;

    h1 {
      span {
        color: $bg-blue;
      }
    }
  }
}

.partners-section {
  .partners-card {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    div {
      background: $color-white;
      border-radius: 15px;
      padding: $padding-20;
      max-width: 302px;
    }
  }
}

.course-sdetails-page {
  .header-main {
    .text-sec {
      text-align: left;

      .Course-title {
        h1 {
          font-size: 42px;
         
        }
        .text-left{
          margin-top: 18px;
        }
      }

      .Course-info-chips {
        margin-bottom: 16px;

        .badge {
          border-radius: 50px;
          font-weight: 500;
          font-size: 14px;
          padding: 10px 16px;
        }

        .badge-type {
          background-color: #fff;
          color: #0089D1;

        }

        .badge-intigration {
          background-color: #005886;
          color: #ffff;

          img {
            height: 16px;
            margin-right: 12px;
          }

        }
      }

      .teacher-info-sec {
        display: flex;
        gap: 14px;
        background: #1995D6;
        padding: 18px;
        border-radius: 14px;
        width: fit-content;

        .teacher-info {
          h5 {
            margin-bottom: 2px;
          }

          p {
            margin: 0xp;
          }
        }
      }
    }
  }

  .custom-tabs {
    border-bottom: 2px solid #e0e0e0;
  }

  .custom-tab-item {
    margin-right: 20px;
  }

  .custom-tab-link {
    font-weight: 600;
    color: #555;
    padding: 8px 16px;
    transition: color 0.3s, border-bottom 0.3s;
  }

  .custom-tab-link:hover,
  .custom-tab-link.active {
    color: #007bff;
    border-bottom: 2px solid #000000;
  }

  .tab-content {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
  }

  .accordion-button:not(.collapsed) {
    background-color: #005886;
    color: $color-white;
  }

  // .accordion-body{
  //   background: #f3f3f3;
  // }
  .accordion-item {
    border: none;
    background: #f3f3f3;
    margin-bottom: 14px;
  }

  .accordion-button {
    border-radius: 8px;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .Instructor-tab-sec {
    .teacher-info-sec {
      display: flex;
    }

    .teacher-info {
      margin-left: 14px;
    }
  }
}

.Course-info-sec {
  background-color: #F3F3F3;

  .nav-link {
    color: #5A5A5A !important;
    font-size: 18px;
  }

  .nav-link.active {
    color: #353535 !important;
  }

  .tab-nav-sec {
    padding-top: 12px;
    border-bottom: 1px solid #DADADA;
  }

  .title {
    margin-bottom: 16px;

    span {
      color: #1b95d6;
    }
  }

  .course-abt-sec {
    padding: 10px 0px;

    .abt-cards {
      background-color: #fff;
      text-align: center;
      padding: 18px 12px;
      border-radius: 14px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
  }

  .course-who-sec {
    padding: 20px 0px;
  }


  .highlight-sec {
    .Highlight-list {
      span {
        border: 1px solid #E2E2E2;
        margin: 8px;
        padding: 12px 16px;
        display: inline-block;
        border-radius: 50px;
      }
    }
  }

  .certification-section {
    background-color: $color-white;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 36px;
  }

  .cust-list {
    list-style: none;
    padding-left: 0;
  }

  .cust-list li {
    margin-bottom: 20px;
    /* Increases gap between lines */
    font-size: 16px;
    /* Adjusts the font size */
    line-height: 1.6;
    /* Increases line height for better readability */
  }

  .cust-list li strong {
    font-weight: bold;
  }
}

.course-teacher-right {
  background-color: #fff;
  padding: 16px;
  border-radius: 18px;
  z-index: 10; // Ensure it stays above other content if necessary
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Optional shadow for a card effect


  .course-thumb-img {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    border-radius: 16px;
  }

  .course-enroll-info {
    padding: 18px 0px;

    .enroll-btn {
      background-color: #0089D1;
      color: #fff;
      padding: 16px;
      width: 100%;
      border-radius: 50px;
      border: none;


    }

    .enroll-btn:hover {
      background-color: #0272ae;
    }
  }
}

.abt-cards {
  .card {
    border: none;
    border-radius: 15px;

    .title {
      font-size: 16px;
      border-left: 3px solid #0089D1;
      padding-left: $padding-12;
    }

    .desc {
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
    }

    .link {
      display: inline-block;
      margin-top: $padding-24;
      color: $color-black;
      text-decoration: none;
    }
  }
}

.joinlist-btn {
  background: $color-white;
  color: $primary-color;
  padding: $padding-12 $padding-24;
  border-radius: 25px;
}

.joinlist-btn-blue {
  background: $bg-blue;
  color: $color-white;
  padding: $padding-12 $padding-24;
  border-radius: 25px;
}

.abt-card-container {
  width: 270px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;

  img {
    width: 100%;
    border-radius: 15px;
  }

  h2 {
    font-size: 16px;
    margin: 10px 0;
  }

  h5 {
    color: #0089D1;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
  }

  p {
    font-size: 12px;
  }
}

.main-footer-container {
  background: #1F1F1F;

  .first-section {
    padding: $default-padding;
  }

  ul {
    list-style: none;
    float: right;
    border-right: 1px solid $color-white;
    padding-right: $padding-24;

    li {
      color: $color-white;
      cursor: pointer;
      line-height: 30px;
      font-weight: 300;
    }
  }

  .payments-section {
    background: #171717;
  }

  .footer-section {
    p {
      font-size: 14px;
    }

    span {
      font-size: 10px;
    }
  }
}

.contact-container {
  background-color: $color-white2;
  padding: $margin-20;
  .cards-section {
    width: 70%;
    margin: auto;
    .card {
      border: none;
      border-radius: 15px;
      -webkit-box-shadow: 3px 10px 15px 0px rgba(201,201,201,1);
      -moz-box-shadow: 3px 10px 15px 0px rgba(201,201,201,1);
      box-shadow: 3px 10px 15px 0px rgba(201,201,201,1);
      p {
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
  .vr-line {
    border: 1px solid #0089D1;
    display: inline-block;
    height: 144px;
  }
}

.faq-page {
  .accordion-item {
    border: none;
  }
  .accordion-button {
    background: transparent;
    &:focus {
      box-shadow: none;
    }
  }
}

.pp-page {
  background: $color-white2;
  padding: $default-padding;
  .inside-section {
    width: 70%;
    margin: auto;
    h5 {
      font-weight: 300;
    }
    h1 {
      font-size: 60px;
      span {
        color: $bg-blue;
      }
    }
    p {
      font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    }
  }
}

.form-details {
  border: 1px solid #D9D9D9;
  padding: $padding-12;
  border-radius: 20px;
  input {
    width: 100%;
    border: none;
    padding: $padding-16;
    border-bottom: 1px solid #D9D9D9;
  }
  .p-inputgroup-addon {
    background: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #D9D9D9;
  }
  button {
    width: 100%;
    margin: $margin-20 0;
    padding: $padding-16;
    border-radius: 12px;
  }
}

.refund-container {
  background: $color-white2;
  padding: $default-padding;
}
// keyframs to scroll left
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}